.interface{
    -fx-background-color: #302e2b;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Helvetica", "Arial", "Hiragino Sans GB", "STXihei", "Microsoft YaHei", "WenQuanYi Micro Hei", "Hind", "MS Gothic", "Apple SD Gothic Neo", "NanumBarunGothic", "sans-serif";
}

.light-square {
    -fx-background-color: #f0d9b5; /* Couleur de la case claire */
}

.dark-square {
    -fx-background-color: #b58863; /* Couleur de la case foncée */
}

.onglet{
    -fx-background-color: #21201e;
}

.statsChiffres {
    -fx-text-fill: #dfdede;
    -fx-font-weight: bold;
}

.statsLabel{
    -fx-text-fill: #868684;
}

.selecteur{
    -fx-background-color: #3c3b39;
    -fx-font-size: 1.2 rem;
}
.selecteur .label{
    -fx-text-fill: white;
    -fx-background-color: #3c3b39;
}


.boutonJouer, .boutonJeuEnLigne{
    -fx-background-color: #81b64c;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow( two-pass-box,#45753c, 2, 0.4, 0, 7);
}

.boutonJouer:hover, .boutonJeuEnLigne:hover{
    -fx-background-color: #a3d160;
    /* box-shadow: rgba(93,153,72,.2) */
}

.boutontournois{
    -fx-background-color: #1f1d1b;
    -fx-border-radius: 0.5 rem;
    /* box-shadow: rgba(0,0,0,.4) */
}

.boutonTournois:hover{
    -fx-background-color: #1f1d1b;
}

.boutonJeuContreOrdinateur{
    -fx-background-color: #454341;
    -fx-text-fill: #bcbcbb;
    -fx-font-size: 16px;
    -fx-effect: dropshadow( two-pass-box,#3e3c3a, 2, 0.4, 0, 7);
}

.boutonJeuContreOrdinateur:hover{
    -fx-background-color: #454341;
    /* box-shadow: rgba(0,0,0,.3) */
}

.casesClaires {
    -fx-background-color: #ebecd0;
}

.casesFoncees {
    -fx-background-color: #739552;
}

.choice-box {
    -fx-font-size: 14px;
    -fx-pref-width: 200px;
}

.choice-box .list-cell {
    -fx-font-size: 14px;
}

/* Formulaire */

.formTitre{
    -fx-text-fill: #ffffff;
    -fx-font-size: 35px;
    -fx-font-style:normal;
    -fx-padding: 10px;
}

.formJoueur{
    -fx-text-fill: #a3d160;
    -fx-font-size: 20px;
    -fx-font-style: normal;
}

.formLabel{
    -fx-text-fill: #bcbcbb;
    -fx-font-size: 15px;
}

.formTextField{
    -fx-background-color: #585654;
    -fx-border-color: #bcbcbb;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}

.formTextField:hover{
    -fx-border-color: #ffffff;
}

.timer{
    -fx-background-color: #585654;
    -fx-background-radius: 10px;
    -fx-padding: 15px;
}